@import './base.css';

#app {}

h2 {
  font-size: var(--text-size-xl);
  font-weight: 700;
  letter-spacing: 1px;
}

.body-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .body-section {
    padding: 4rem 2rem!important;
  }
}